/* Sidebar.module.css */

.sidebar {
    width: 200px;
    background-color: transparent;
    padding: 20px;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 10;
    font-family: 'Inter', sans-serif;
}

.sidebarList {
    list-style-type: none;
    padding: 0;
}

.sidebarList li {
    margin-bottom: 10px;
    position: relative;
}

.sidebarList li::before {
    content: '•';
    color: #38bdf8;
    display: inline-block;
    width: 10px;
    margin-right: 5px;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.sidebarList li a {
    text-decoration: none;
    color: #38bdf8;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.sidebarList li a:hover {
    text-decoration: underline;
    color: #7dd3fc;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #1e293b;
        top: 60px;
        left: 0;
        right: 0;
    }
}
